---
interface Props {
  title: string;
  description: string;
  tags: string[]; // Aqui dizemos que tags é uma lista de textos
  link: string;
}

const { title, description, tags, link } = Astro.props;
---
<div class="project-card">
    <div class="card-content">
        <h3>{title}</h3>
        <p>{description}</p>
        <div class="tags">
            {tags.map((tag) => <span class="tag">{tag}</span>)}
        </div>
        <a href={link} target="_blank">View Project →</a>
    </div>
</div>

<style>
    .project-card {
        background: var(--card-bg);
        padding: 2rem;
        border-radius: 15px;
        border: 1px solid #333;
        transition: transform 0.3s ease;
    }
    .project-card:hover {
        transform: translateY(-10px);
        border-color: var(--accent);
    }
    .tag {
        font-size: 0.7rem;
        background: #222;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 5px;
        color: var(--accent);
    }
    h3 { margin-top: 0; }
    a { color: var(--text); text-decoration: none; font-weight: bold; font-size: 0.9rem; margin-top: 20px; display: inline-block; }
</style>